@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Inter", sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --ciano: #45fefe;
  --light: #f6f6f6;
  --light-stroke: #e8e8e8;
}