<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/history.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>IMC | @dev_jakkifx</title>
  </head>

  <body>
    <div class="history">
      <header class="history__header">
        <div class="history__header__img-box">
          <img src="../assets/icon-no-bg.png" alt="IMC image" />
        </div>

        <h1>Histórico</h1>

        <input
          type="text"
          placeholder="Pesquisar"
          class="history__header__field"
        />
      </header>

      <div class="history__list">
        <div class="history__box">
          <div class="img"></div>
          <div class="history__content">
            <div class="history__content__title">
              <p>Peso ideal ✅</p>
              <p class="time">8m atrás</p>
            </div>
            <span>
              Parabéns, você está no seu peso ideal, continue mantendo este estilo!
            </span>
          </div>
        </div>

        <div class="history__box">
          <div class="img"></div>
          <div class="history__content">
            <div class="history__content__title">
              <p>Sobrepeso ⛔️</p>
              <p class="time opacity">12/10/2023</p>
            </div>
            <span>
              Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
